*{
	margin: 5;
	padding:0;
	 box-sizing: border-box;
	 font-family: 'Libre Baskerville', serif;
}
/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
     height: 90vh;
  }
  .image{
  	width:100%; 
  	height:150px !important;
  }